/* .div1{ 
    width:300px; 
    height: 300px; 
    background: green; 
    padding:20px; 
} 
.div2{ 
    width:200px; 
    height: 200px; 
    background: yellow; 
    margin:0 auto; 
} 
 
.div3{ 
    width: 100px; 
    height: 100px; 
    background: pink; 
    margin:0 auto; 
} */

/* Задачи */
/* 1 */
/* .div1{ 
    width:500px; 
    height: 500px; 
    background: green; 
    padding:20px; 
} 
.div2{ 
    width:400px; 
    height: 400px; 
    background: yellow; 
    margin:0 auto; 
} 
 
.div3{ 
    width: 300px; 
    height: 300px; 
    background: pink; 
    margin:0 auto; 
}
.div4{ 
    width:200px; 
    height: 200px; 
    background: purple; 
    margin: 0 auto;
} 
.div5{ 
    width:100px; 
    height: 100px; 
    background: blue; 
    margin:0 auto; 
} 
 
.div6{ 
    width: 50px; 
    height: 50px; 
    background: red; 
    margin: 0 auto;
} */

/* 2 */
.div7{ 
    width: 300px; 
    height: 300px; 
    background: black; 
    margin:0 auto; 
}
.div8{ 
    width:200px; 
    height: 200px; 
    background: white; 
    margin: 0 auto;
}
.div9{ 
    width:100px; 
    height: 100px; 
    background: orange;
    margin:0 auto; 
}  